* {
    background-color: transparent;
    text-color: white;
}

window {
    fullscreen: true;
    background-color: rgba(5,6,10,0.84);
    padding: 24px;
    children: [listview-split];
}

listview-split {
    children: [listview];
}

listview {
    columns: 3;
    lines: 3;
    spacing: 8px;
    scrollbar: true;
    fixed-height: true;
    fixed-columns: true;
    cycle: true;
}

scrollbar {
    width: 5px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.06);
    handle-width: 5px;
    handle-color: rgba(175,198,255,0.65);
}

element {
    orientation: vertical;
    children: [element-icon];
    padding: 0px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
}

element-icon {
    expand: true;
    size: 285px;
    border-radius: 10px;
}

element-text {
    enabled: false;
}

@media ( enabled: env(PREVIEW, false)) {
    icon-current-entry {
        expand: true;
        size: 80%;
    }

    listview-split {
        children: [listview, icon-current-entry];
    }

    listview {
        columns: 2;
    }
}
